html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 70px;
}
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
}
table th {
	white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-device-width: 720px) {
	h1 {font-size: 24px;}
}

img.cover {
	width: 100%;
}

.list-group .list-group-item:last-child {
  border-bottom-width: 0;
}

.page-header {
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
	border: 0;
}

.panel-heading, .panel-footer {
  text-align: center;
}
.pagination {
  margin: 0;
}

.PDF, .EPUB, .MOBI, .AZW, .AZW3 {
	margin-right: 5px;
	padding: 0 0 1px 20px;
	min-height: 16px;
}
.PDF {
	background: url(document-pdf.png) no-repeat 0 50%;
}
.EPUB {
	background: url(document-epub.png) no-repeat 0 50%;
}
.MOBI, .AZW, .AZW3 {
	background: url(document-mobi.png) no-repeat 0 50%;
}
